{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Contact the MOJ</h1>
      </div>

<h2 class="govuk-heading-m">How to contact us</h2>
      <p>You can
        <a href="https://contact-moj.service.justice.gov.uk/">contact the MOJ online.</a>
      </p>
    </div>
  </div>

{% endblock %}
