{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Contact the Data Privacy Team at the MOJ</h1>
      </div>
      <p>Under the Data Protection Act 2018, if some information we hold about you is wrong or has changed, you have the right to have it corrected or updated.</p>
<h2 class="govuk-heading-m">What happens next</h2>
<p>Contact the Data Privacy Team telling them:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Something</li>
  <li>Something else</li>
</ul>
      <h3 class="govuk-heading-m">How to contact the Data Privacy Team</h3>
      <p>email: privacy@justice.gov.uk</p>
      <p>By post:
        Data Privacy Team
        Ministry of Justice
        3rd Floor, Post Point 3.20
        10 South Colonnade
        Canary Wharf
        London
        E14 4PU</p>
      <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>


    </div>
  </div>

{% endblock %}
