{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Contact the MOJ Data Protection Officer</h1>
      </div>

      <p>Contact the MOJ Data Protection Officer if you:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>have questions about anyti=hing in our information charter</li>
        <li>think your personal data has been misused or mishandled</li>
      </ul>

      <h3 class="govuk-heading-m">By email or post</h3>
      <p>email: privacy@justice.gov.uk</p>
      <p>By post:
        The Data Protection Officer
        Ministry of Justice
        3rd Floor, Post Point 3.20
        10 South Colonnade
        Canary Wharf
        London
        E14 4PU</p>

      <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>


    </div>
  </div>

{% endblock %}
