{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Make a Freedom of Information Request</h1>
      </div>

      <h2 class="govuk-heading-m">How to make your request</h2>
      <p>email: XX@XXXXX</p>
      <p>Telling us:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Something</li>
        <li>Something else</li>
      </ul>
      <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>


    </div>
  </div>

{% endblock %}
