
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Get information from the Ministry of Justice
      </h1>

      <p>
        This prototype lets you see how members of the public might request information from the MOJ in future.
      </p>

      <h2 class="govuk-heading-m">Examples </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/step-by-step-navigation">Step by step overview</a>
        </li>
        <li>
          <a href="/start">Start page</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
